/* font */
.st-font{
    font-family: "Satisfy";
}

html,body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

/* services icon color */
.i-color{
    color: chartreuse;
}

/* service subtitle color */
.ss-color{
    color: silver;
}

a.nav-link{
    color: whitesmoke;
}
a.nav-link:hover{
    color: black;
    background-color: rgb(239, 187, 89);
}
a.nav-link.active{
    color: black;
    background-color: orange;
    font-weight: bold;
}